
/****** Object:  StoredProcedure [dbo].[sp_SPC_MSDevice_Sel]    Script Date: 11/8/2023 4:39:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Fikri>
-- Create date: <2022-09-07>
-- Description:	<Master Device>
-- =============================================

ALTER   PROCEDURE [dbo].[sp_SPC_MSDevice_Sel]
	@Factory	As varchar(25)
As
BEGIN
	select 
		FactoryCode = a.FactoryCode,
		FactoryDesc = b.FactoryName,
		RegNo		= a.RegistrationNo,
		Description = a.Description,
		ToolName	= a.ToolName,
		ToolFunction= a.ToolFunction,
		Port		= ISNULL(a.Port,''),
		BaudRate	= ISNULL(Cast(a.BaudRate As Varchar(Max)),''),
		DataBits	= ISNULL(Cast(a.DataBits As Varchar(Max)),''),
		Parity		= ISNULL(a.Parity,''),
		StopBits	= ISNULL(Cast(a.StopBits As Varchar(Max)),''),
		Stable		= ISNULL(Cast(a.StableCondition As Varchar(Max)),''),
		Passive		= ISNULL(PassiveActiveCls,''),
		GetResult	= ISNULL(Cast(a.GetResultData As Varchar(Max)),''),
		Command		= ISNULL(a.Command,''),
		ActiveStatus= a.ActiveStatus,
		EnableRTS	= ISNULL(a.EnableRTS,0),
		EnableDTR	= ISNULL(a.EnableDTR,0),
		FlowControl = ISNULL(a.FlowControl,0),
		LastUser	= c.FullName,
		LastUpdate	= Format(ISNULL(a.UpdateDate, a.RegisterDate),'dd MMM yyyy HH:mm:ss')
	from 
		spc_MS_Device a Left Join
		MS_Factory b on a.FactoryCode = b.FactoryCode Left Join
		spc_UserSetup c on c.UserID = ISNULL(a.UpdateUser, a.RegisterUser)
	Where
		a.FactoryCode = @Factory
END
